* {
    margin: 10;
    border: 10cap;
    border-collapse: collapse;
}

table {
    width: 90%;
}

th {
    text-align: left;
    background-color: rgb(2, 80, 5);
    
}
.col1 {
    width: 40px;
    text-align: center;
}

td {
    background-color: black;
    color: rgb(188, 183, 176);
}

.Foto {
    display: block;
    float: left;
    margin-right: 10px;
}

.col2 {
    width: 350px;
}

.col3 {
    width: 325px;
}

.col4 {
    width: 325px;
}
